@model OTS.Administration.Models.Users.CreateEdit.UserModel

@using (Html.BeginForm(Model.Id.HasValue ? "Edit" : "Create", "User", FormMethod.Post))
{
    @if (Model.Id.HasValue)
    {
        <h2>Редактирование @Model.Form.Surname @Model.Form.Name</h2>
    }
    else
    {
        <h2>Добавление нового пользователя</h2>
    }
    <div class="form-group">
        <label>Логин <span style="color:red" asp-validation-for="Form.Login"></span></label>
        <input id ="login" type="text" asp-for="Form.Login" class="form-control"  />
    </div>
    <div class="form-group">
        <label>Имя<span style="color:red" asp-validation-for="Form.Name"></span></label>
        <input type="text" asp-for="Form.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Фамилия<span style="color:red" asp-validation-for="Form.Surname"></span></label>
        <input type="text" asp-for="Form.Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label>Электронная почта <span style="color:red" asp-validation-for="Form.Email"></span></label>
        <input type="text" asp-for="Form.Email" class="form-control" />
    </div>
    <div style="display: flex">
        <label>Права администратора</label>
        <input style="width: 1%;margin: 7px 10px 0 12px;" type="checkbox" asp-for="Form.IsAdmin" class="form-control" />
    </div>

    <button type="submit" class="btn btn-lg btn-primary">Сохранить</button>
    <a type="button" class="btn btn-lg btn-secondary" asp-action="List" asp-controller="User">Назад</a>
}

<script>
    $(document).ready(function() {
        if ('@Model.Id.HasValue' === 'True') {
            $('#login').attr('readonly', 'readonly');
        } else {
            $('#login').removeAttr('readonly');
        }
    });
</script>