@model OTS.Administration.Models.Events.List.EventListModel

<style>
    th {
        text-align: center; 
    }
    td {
        text-align: center;
    }
</style>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Мероприятие</th>
        <th>Количество билетов</th>
        <th><a type="button" class="btn btn-primary btn-sm btn-block" asp-action="Create" asp-controller="Event">Добавить</a></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Events)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.TicketCount</td>
            <td><a asp-action="Item" asp-controller="Event" asp-route-id="@item.Id">Подробнее...</a></td>
        </tr>
    }
    </tbody>
</table>